body{
    background-color: white;
}

.container {
    margin: 10px auto; /* Centrar horizontalmente y agregar espaciado superior */
    max-width: 800px; /* Ancho máximo de la tabla */
    padding: 10px; /* Espacio interno */
}

.table {
    border: 1px solid #ccc; /* Agregar bordes */
    border-collapse: collapse; /* Colapsar bordes */
    margin-top: 10px; /* Ajustar espaciado superior */
}

.table th,
.table td {
    border: 1px solid #ccc; /* Agregar bordes a las celdas */
    padding: 8px; /* Espaciado interno de las celdas */
}

.comment-cell {
    word-break: break-word;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-buttons {
    display: flex;
    gap: 10px;
  }
  
  .pagination-buttons.pagination-right {
    margin-left: auto;
  }
  
  .current-page-container {
    flex-grow: 1;
    text-align: center;
  }

  #loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

#loading-message {
    text-align: center;
    margin-top: 10px;
}

#comments-container {
    display: none; /* Ocultar la tabla de comentarios al principio */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
