{% extends 'base/base_new.html' %} {% block content %}
<title>Cambiar mi contraseña</title>
<script src="{{ url_for('static', filename='js/passwords.js') }}"></script>

<style>
  input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #343a40;
  }
</style>
<h1>Configuración</h1>
<main>
  <div id="loading-container" class="loading-container">
    <div class="loading-spinner"></div>
    <div id="loading-message"></div>
  </div>
  <section class="content-section hidden" id="content-section">
    <h2>Cambiar contraseña</h2>

    <form id="change_passsword" method="POST">
      <input
        type="hidden"
        id="csrf_token"
        name="csrf_token"
        value="{{ csrf_token() }}"
      />

      <label for="current_password">Contraseña actual</label><br />
      <div class="password-toggle">
        <input
          type="password"
          name="current_password"
          value=""
          id="current_password"
        />
        <i
          class="far fa-eye"
          id="toggle_current_password"
          onclick="togglePassword('current_password')"
        ></i>
      </div>
      <br />

      <label for="new_password">Contraseña nueva</label><br />
      <div class="password-toggle">
        <input type="password" name="new_password" value="" id="new_password" />
        <i
          class="far fa-eye"
          id="toggle_new_password"
          onclick="togglePassword('new_password')"
        ></i>
      </div>
      <br />

      <label for="verify_password">Repita la contraseña</label><br />
      <div class="password-toggle">
        <input
          type="password"
          name="verify_password"
          value=""
          id="verify_password"
        />
        <i
          class="far fa-eye"
          id="toggle_verify_password"
          onclick="togglePassword('verify_password')"
        ></i>
      </div>
      <br />

      <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </form>
  </section>
</main>

{% endblock %}
