{% extends "base/web_total.html" %}
 {% block title %} {{title}} {% endblock %}
{% from "_macro_web.html" import renderizar %} 

{% block content %}
<script src="{{ url_for('static', filename='js/passwords.js') }}"></script>

<form action="" id="" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <label for="current_password">Contraseña actual</label><br />
  <input type="password" name="current_password" value="" id="current_password" />
  <i class="far fa-eye" id="toggle_current_password" onclick="togglePassword('current_password')"></i>
  <br />
  <br />
  
  <label for="new_password">Contraseña nueva</label><br />
  <input type="password" name="new_password" value="" id="new_password" />
  <i class="far fa-eye" id="toggle_new_password" onclick="togglePassword('new_password')"></i>
  <br />
  <br />
  
  <label for="verify_password">Repita la contraseña</label><br />
  <input type="password" name="verify_password" value="" id="verify_password" />
  <i class="far fa-eye" id="toggle_verify_password" onclick="togglePassword('verify_password')"></i>
  <br />
  <br />
  
  <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
</form>

{% endblock %}
