{% extends 'base/web_total.html' %}
{% from '_macro_formularios.html' import renderizar %}
{% block content %}
<div class="container">
  <div id="loading-container">
    <div class="loading-spinner"></div>
    <div id="loading-message">Cargando...</div>
  </div>

  <div id="comments-container" style="display: none;">
    <div class="table-responsive">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Usuario</th>
            <th scope="col">Comentario</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <!-- Los comentarios se cargarán aquí -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    // Muestra la pantalla de carga
    $('#loading-container').show();

    // Realiza una solicitud AJAX para cargar los comentarios
    $.get("{{ url_for('comments.load_comments') }}", function(data) {
        // Oculta la pantalla de carga después de 10 segundos
        setTimeout(function() {
            $('#loading-container').hide();

            // Muestra la tabla de comentarios y llena los datos
            $('#comments-container').show();
            $.each(data, function(index, comment) {
                let row = '<tr>';
                row += '<td>' + (index + 1) + '</td>';
                row += '<td>' + comment.username + '</td>';
                row += '<td>' + comment.comment + '</td>';
                row += '<td>' + comment.create_date + '</td>';
                row += '</tr>';
                $('#comments-container tbody').append(row);
            });
        }, 1000); // 10000 milisegundos (10 segundos)
    });
});
</script>
{% endblock %}
