{% extends 'base/base_new.html' %} {% from '_macro_formularios.html' import
renderizar %} {% block content %}
<title>Comentarios</title>
<div class="container">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

  <!-- Formulario de búsqueda -->
  <div id="search-report-container">
    <label for="search-input">Buscar:</label>
    <input
      type="text"
      id="search-input"
      name="search-input"
      placeholder="Ingrese un dato para buscar"
    />
  </div>
  <br />
  <!-- Botón de generar reporte -->
  <button id="report-button" class="btn btn-success">
    Generar Reporte <i class="fa-solid fa-file-csv"></i>
  </button>
  <br />
  <div id="loading-table-container">
    <!-- Contenedor de carga -->
    <div id="loading-container">
      <div class="loading-spinner"></div>
    </div>
    <table id="data-table" class="custom-table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Usuario</th>
          <th scope="col">Comentario</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </div>
  <script>
    $(document).ready(function () {
      const buttonReport = document
        .getElementById("report-button")
        .addEventListener("click", function () {
          Swal.fire({
            title: "Error!",
            text: "Do you want to continue",
            icon: "error",
            confirmButtonText: "Cool",
          });
        });

      let currentPage = 1;

      // Función para cargar los comentarios inicialmente
      function loadInitialComments() {
        // Realiza una solicitud AJAX para cargar los comentarios de la página actual
        $.get("{{ url_for('comments.comments') }}", function (data) {
          // Oculta la pantalla de carga después de 1 segundo
          setTimeout(function () {
            $("#loading-container").hide();

            // Muestra la tabla de comentarios y llena los datos
            $("#data-table").show();
            $("#pagination").show();

            // Llena la tabla con los comentarios
            $("#data-table tbody").empty();
            $.each(data.comments, function (index, comment) {
              let row = "<tr>";
              row += "<td>" + currentPage++ + "</td>;";
              row += "<td>" + comment.username + "</td>";
              row += "<td>" + comment.comment + "</td>";
              row += "<td>" + comment.create_date + "</td>";
              row += "</tr>";
              $("#data-table tbody").append(row);
            });
          }, 1000); // 1000 milisegundos (1 segundo)
        });
      }

      // Carga los comentarios inicialmente al cargar la página
      loadInitialComments();

      // Función para cargar los comentarios al cambiar de página
      function loadComments() {
        // Realiza una solicitud AJAX para cargar los comentarios de la página actual sin esperar
        $.get("{{ url_for('comments.comments') }}", function (data) {
          // Muestra la tabla con los comentarios
          $("#data-table tbody").empty();
          $.each(data.comments, function (index, comment) {
            let row = "<tr>";
            row += "<td>" + currentPage++ + +"</td>;";
            row += "<td>" + comment.username + "</td>";
            row += "<td>" + comment.comment + "</td>";
            row += "<td>" + comment.create_date + "</td>";
            row += "</tr>";
            $("#data-table tbody").append(row);
          });
        });
      }
    });
  </script>

  {% endblock %}
</div>
