{% extends 'base/web_total.html' %} 
{% block title %} {{title}} {% endblock %}
{% block content %} 
{% from '_macro_web.html' import renderizar%}

<style>
  @media only screen and (max-width: 768px) {
    form {
      width: 80%;
      margin: 0 auto;
    }
  }
</style>

<form action="{{ url_for('home.login') }}" id="loginForm" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {{ renderizar(form.username) }} 
  {{ renderizar(form.password) }}
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

{% endblock %}
