{% extends "base/base_new.html" %}
<title>Iniciar Sesión</title>
{% block content %}
<style>
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #343a40;
  }

  input[type="password"]:disabled {
    background-color: #e9ecef;
    color: #6c757d;
  }
</style>
<input
  type="hidden"
  name="csrf_token"
  id="csrf_token"
  value="{{ csrf_token() }}"
/>
<main>
  <div id="loading-container" class="loading-container">
    <div class="loading-spinner"></div>
    <div id="loading-message"></div>
  </div>
  <section class="content-section hidden" id="content-section">
    <h2>Iniciar Sesión</h2>
    <form id="login-form">
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Iniciar Sesión</button>
    </form>
  </section>
</main>
<script src="{{ url_for('static', filename='js/login_new.js') }}"></script>

{% endblock %}
