{% extends 'base/base_new.html' %} {% block content %}
<title>Restablecer contraseña</title>
<script src="{{ url_for('static', filename='js/configuracion.js') }}"></script>
<style>
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #343a40;
  }
</style>

<h1>Configuración</h1>
<main>
  <div id="loading-container" class="loading-container">
    <div class="loading-spinner"></div>
    <div id="loading-message"></div>
  </div>
  <section class="content-section hidden" id="content-section">
    <h2>Restablecer contraseña</h2>
    <form id="reset_password">
      <input
        type="hidden"
        name="csrf_token"
        id="csrf_token"
        value="{{ csrf_token() }}"
      />
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" />
      <button type="submit">Restablecer</button>
    </form>
  </section>
</main>

{% endblock %}
