{% extends 'base/web_total.html' %} {% block title %} {{title}} {% endblock %}
{% block content %}
<style>
  @media only screen and (max-width: 768px) {
    form {
      width: 80%;
      margin: 0 auto;
    }
  }
</style>

<form action="" id="" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <label for="username">Usuario</label><br>
  <input type="text" name="username" value="" />
    <br> <br>
  <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
</form>

{% endblock %}