{% extends 'base/base.html' %} 

{% block content %}
<div class="alert alert-success" role="alert">
  <h3>Comentario del usuario</h3>
    
  <label>Usuario: <strong>{{ username }}</strong></label>
  <br />
  <label>Correo: <strong>{{ email }}</strong></label>
  <br />
  <label>Comentario: {{ comment }}</label>
  <br>
  <a href="/escribir-comentario">Enviar otro comentario</a>
  
  <script>
    Swal.fire(
      "Comentario enviado!",
      "Usuario: {{ username }}<br>Correo: {{ email }}<br>Comentario: '{{ comment }}'",
      "success"
    );
  </script>
</div>

{% endblock %}
